@charset "UTF-8";

/* Paleta de Cores

Verde: #49a09d
Lilás: #5f2c82

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#Login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: linear;
}


section#Login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-cottonbro-studio-3584967.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

section#Login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .8em;
    padding-bottom: 5px;
}

div.campo {
    background-color: #5f2c82;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

div.campo > input {
    background-color: #79e4e0;
    width: 44vw;
    padding: 8px;
    border-radius: 8px;
}

div#formulario > form > input {
    display: block;
    width: 50vw;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #49a09d;
    color: white;
    font-size: larger;
    font-size: 1em;
    box-sizing: border-box;
    border-color: #49a09d;
    border-radius: 8px;
    cursor: pointer;
}

div#formulario > form > input:hover {
    background-color: #306664;
}

div#formulario > form > a {
    display: block;
    width: 50vw;
    padding: 8px;
    color: #387976;
    background-color: white;
    border: #49a09d;
    text-align: center;
    border-radius: 8px;
    cursor: pointer; 
}

div#formulario > form > a:hover {
    background-color: #79e4e0;
}